.container {
  padding: 5px !important;
  padding-right: 15px !important;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
  margin: 2rem 0;
  border-radius: 10px;
}

.input {
  border: 0;
  background-color: transparent;
  color: #525252;
  font-size: 15px;
  width: 85%;
  padding: 12px;
  border-radius: 10px;
}

.input:focus {
  outline: none;
  background-color: transparent;
}

.container input::placeholder {
  font-style: italic;
}
