body {
  background-color: #fff;
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.error {
  color: #ff000f;
  font-weight: bold;
}

.todo-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 967px;
  justify-content: center;
  height: 100vh;
}

i {
  color: #a1a1a1;
}

button {
  outline: none;
  background-color: transparent;
  border: 0;
}

.strike {
  text-decoration: line-through;
}

.pointer {
  width: 7%;
  text-align: center;
  padding: 3px;
  cursor: pointer;
}

.active {
  background-color: #fffbe5;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}
